user www-data;
worker_processes auto;
pid /run/nginx.pid;

events {
    worker_connections 768;
}

http {
    include       /etc/nginx/mime.types;
    default_type  application/octet-stream;

    sendfile on;
    keepalive_timeout 65;

    server {
        listen {{ nginx_port }};
        server_name localhost;

        root {{ nginx_root }};
        index index.html;

        location / {
            try_files $uri $uri/ =404;
        }
    }
}
